header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 20px;
}
footer {
    background-color: #333; 
    color: #fff;
    padding: 10px;
    text-align: center;
    
}
.navUser{
    display:flex;
}
.navUser ul {
    list-style-type: none;
    padding: 120;
   
}

nav li {
    display: inline;
    margin-right: 30px;
}
nav a {
    text-decoration: none;
    color: #fff;
}